<form action="/animes/add/" method="POST">
    <input name="name.fr" placeholder="nom de l'animé">
    <input name="name.en" placeholder="nom de l'animé anglais">
    <input name="popularity" placeholder="classement de l'animé" type="number">
    <input id="saisons" placeholder="nb de saisons de l'animé">
    <div id="saisonsContainer"></div>

    <script>
        const seasonInput = document.getElementById("saisons")
        const container = document.getElementById("saisonsContainer")

        seasonInput.addEventListener("input",()=>{
            const count = parseInt(seasonInput.value)
            container.innerHTML = ""
    for (let i=0; i<count; i++) {
        container.insertAdjacentHTML('beforeend',`
        <input name="seasons[${i}][num]" placeholder="numéro de la saison" type="number">
        <input name="seasons[${i}][episodes]" placeholder="nb d'episodes de la saison" type="number">
        <input name="seasons[${i}][episodeDuration]" placeholder="durée moyenne de l'épisode" type="number">
        <input name="seasons[${i}][cover]" placeholder="url d'image de couverture">`)
    }
    })
    </script>
    
    <input name="finished" type="checkbox">
    <input name="trailer" placeholder="url du trailer">
    <input name="description.fr" placeholder="descriptif de l'animé">
    <input name="description.en" placeholder="descriptif de l'animé anglais">
    <input name="mainCover" placeholder="url d'image de couverture">
    <input name="images" placeholder="url d'image séparées par un espace si plusieurs">
    <input name="startYear" placeholder="année de diffusion" type="number">
    <input name="plateforms" placeholder="plateformes séparées par espace" type="string">
    <select multiple name="types[]">
        <option value="Shonen">Shonen</option>
        <option value="Thriller">Thriller</option>
        <option value="Seinen">Seinen</option>
        <option value="Horreur">Horreur</option>
        <option value="Drama">Drama</option>
        <option value="Romance">Romance</option>
    </select>
    <button type="submit">Valider</button>
</form>