<form action='/login' method="POST">
        <input name="email" placeholder="Votre adresse mail"/>
        <input name="password" placeholder="Votre mot de passe" type="password"/>
        <button type="submit">Me connecter !</button>
</form>